# Print Individual Validation Results

Pretty print individual data validation results.

## Usage

``` r
print_individual_validation_results(validation)
```

## Arguments

- validation:

  Validation result from validate_individual_data()
